include mixins
extends layout
block content
    .container
        .jumbotron
            +banner("Nosotros","💻️","background: url('http://www.collab2.co.za/wp-content/uploads/2017/06/contact-us-background.jpg')")
            h2 Nosotros
            p Somos una empresa líder en el mercado con amplia experiencia en el área informática.

        script( src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
        script( src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js')