include mixins
extends layout
block content
    .container
        .jumbotron(style="background: url('https://cdn.pixabay.com/photo/2016/11/19/15/32/business-1839876_1280.jpg')")
            +banner("Coffee Team","Equipo de amigos","background: url('https://cdn.pixabay.com/photo/2016/11/19/15/32/business-1839876_1280.jpg')")
            h1 Inicio
            p La mejor empresa informática del Perú

        script( src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
        script( src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js')