include mixins
extends layout
block content
    .container
        .jumbotron
            +banner("Inicio","🙌","background: url('http://footeinsurance.com///wp-content/uploads/2014/07/contactus_background2.jpg')")
            h1 Inicio
            p La mejor empresa informática del Perú

        script( src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
        script( src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js')